@media (max-width: 480px) {
    .carousel__galeria {
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
}

@media (min-width: 992px) {
    .carousel__galeria {
        width: map-get($anchos, ancho50);
    }
}