.index__iframe {
    @extend .contacto__img;
    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }   
}

$responsive: (
    001px: 15rem,
    480px: 20rem,
    768px: 25rem,
    992px: 30rem,
    1200px: 20rem
);

@each $anchoPantalla, $altoVideo in $responsive { 
    @media (min-width: #{$anchoPantalla}) {
        .index__iframe {
        height: $altoVideo; 
        }
    }
}